/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_full,singularity

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test full'
    config_profile_description  = 'Minimal test dataset to check full pipeline'

    //-----------------------------------
    // General options
    //-----------------------------------
    input           = "/mmfs1/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/samplesheets/test_samplesheet.csv"
    // fastqs          = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fastqs/fastqs_test_{1,2}.fastq.gz"
    // fnas            = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fnas/fnas_test.fna.gz"
    db_dir          = "databases"
    uhvdb_dir       = "assets/test_datasets/uhvdb_test_release"
    output_dir      = "results"

    //-----------------------------------
    // Advanced options
    //-----------------------------------
    new_release_id                  = "test_release_001"
    url_split_size                  = 2
    genomad_split_size              = 500
    checkv_split_size               = 500
    hmmsearch_split_size            = 100
    taxonomy_split_size             = 1000
    bacphlip_split_size             = 100
    crisprhost_split_size           = 1000
    iphop_split_size                = 50

    //-----------------------------------
    // UHVDB mine options
    //-----------------------------------
    // assemble options
    run_assemble                    = true
    run_coassembly                  = true
    // classify options
    run_classify                    = true
    classify_genomad_args           = "--splits 5 --relaxed"
    // HQ-filter options
    run_hqfilter                    = true
    // HC-filter options
    run_hcfilter                    = true

    //-----------------------------------
    // UHVDB annotate options
    //-----------------------------------
    // phist options
    run_phist                       = true
    bacterial_host_urls             = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/fnas/test_urls.txt"
    // crisprhost options
    run_crisprhost                  = true
    // iphop options
    run_iphop                       = true
    iphop_db_version                = "iPHoP_db_rw_1.4_for-test"
    // proteinsimilarity options
    run_taxonomy                    = true 
    vmr_dmnd                        = null
    vmr_url                         = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/toolkit/assets/test_datasets/vmr/VMR_MSL40.TEST.xlsx"
    email                           = "test@gmail.com"
    // function options
    run_function                    = true
    bakta_db_version                = "light"
    // // lifestyle options
    run_lifestyle                   = true

    //-----------------------------------
    // Compare options
    //-----------------------------------
    // anicluster options
    run_anicluster                  = true
    // aaicluster options
    run_aaicluster                  = true

    //-----------------------------------
    // Update options
    //-----------------------------------
    // update options
    run_update                      = true

    // //-----------------------------------
    // // Analyze options
    // //-----------------------------------
    // // reference analyze options
    // run_reference_analyze           = false
    // bacterial_sylph_db              = null
    // instrain_args                   = null
    // run_instrain_compare            = false
    // // assembly analyze options
    // run_assembly_analyze            = false
    
    //-----------------------------------
    // Pangenome options
    //-----------------------------------
    // nucleotide pangenome options
    // TODO: Not needed until after submitted to co-authors
    // protein pangenome options
    // TODO: Not needed until after submitted to co-authors
}
