/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Create publishDir for output files
    publishDir = [
        path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Create storeDir for database downloads
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CHECKV_DOWNLOAD' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:PREPROCESS:DEACON_INDEXFETCH' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:GENOMAD_DOWNLOAD' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:CHECKV_DOWNLOADDATABASE' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:VIRALVERIFY_DOWNLOAD' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:HCFILTER:GENOMAD_DOWNLOADHALLMARKS' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }
    withName: 'UHVDB_TOOLKIT:TOOLKIT:TAXONOMY:ICTV_VMRTOFASTA' {
        storeDir = { "${params.db_dir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    }

    // Create storeDir for UHVDB database
    withName: 'UHVDB_TOOLKIT:TOOLKIT:UHVDB_DOWNLOAD' {
        storeDir = { "${params.uhvdb_dir}" }
    }

    // TOOLKIT
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CSVTK_SEQKIT' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_id == \$species_rep )'",
            "| csvtk cut --tabs -f uhvdb_id --out-delimiter '\t'"
        ].join(' ').trim()
        ext.args2 = [
            "--invert-match"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.genomovar_not_species_reps" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:SEQKIT_SPLIT2' {
        ext.args = { "--by-size ${params.new_genomovar_chunk_size}" }
    }

    // TODO: Add arguments for fastp and deacon
    
    // ASSEMBLE
    withName: 'UHVDB_TOOLKIT:TOOLKIT:ASSEMBLE:SPRING_MEGAHIT' {
        ext.args = {"--k-list 21,29,39,59,79,99,119,141,163,185,207,229,251 --min-contig-len ${params.min_seq_length}"}
    }

    // CLASSIFY
    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:SEQKIT_SEQ_REPLACE_SPLIT2' {
        ext.args = [
            "--remove-gaps",
            "--upper-case",
            "--validate-seq",
            "--min-len ${params.min_seq_length}",
        ].join(' ').trim()
        ext.args2 = { "--pattern '^' --replacement ${meta.id}_" }
        ext.args3 = { "--by-size ${params.local_split_size}" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:.*GENOMAD_CSVTK_SEQKIT' {
        ext.args = [
            "--relaxed --splits 5",
        ].join(' ').trim()
        ext.args2 = [
            "--tabs",
            "--filter",
            "'( ( \$virus_score >= 0.7 && \$length >= 2000 ) || ( \$taxonomy =~ \"Inoviridae\" ) ) &&",
            "!( \$taxonomy =~ \"Caudoviricetes\" && \$length < 10000 ) &&",
            "!( \$taxonomy =~ \"Inoviridae\" && ( \$length < 4500 || \$length > 12500 ) ) &&",
            "!( \$taxonomy == \"Unclassified\" ) &&",
            "( ( \$taxonomy =~ \"viricetes\" ) || ( \$taxonomy =~ \"Anelloviridae\" ) )'",
            "| csvtk cut --tabs -f seq_name --out-delimiter '\t'"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:CLASSIFY:CHECKV_SEQKIT_CSVTK_SEQKIT' {
        ext.args2 = [
            "--tabs",
            "--filter",
            "'( \$aai_completeness >= 50 ) &&",
            "( \$kmer_freq <= 1.2 ) &&",
            "( \$contig_length / \$aai_expected_length <= 1.5 )'",
            "| csvtk cut --tabs -f contig_id --out-delimiter '\t'"
        ].join(' ').trim()
    }

    // HQFILTER
    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:TRTRIMMER' {
        ext.args = [
            "--min-length 20",
            "--include-tr-info"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.tr-trimmer" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:FASTA_VCLUST_PREFILTER_ALIGN_CLUSTER:VCLUST_CLUSTER' {
        ext.args = [
            "--algorithm cd-hit",
            "--qcov 0.85",
            "--out-repr"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:CSVTK_SEQKIT' {
        ext.args = [
            "--tabs",
            "--filter '( \$cluster != \"cluster\" )'",
            "| csvtk cut --tabs -f cluster --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.vclust_reps" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HQFILTER:KMERDB_LZANI_CSVTK_SEQKIT' {
        ext.args = [
            "-k 25 -f 0.2"
        ].join(' ').trim()
        ext.args2 = [
            "-min num-kmers:20 -min ani-shorter:0.95"
        ].join(' ').trim()
        ext.args3 = [
            "-min 0.95"
        ].join(' ').trim()
        ext.args4 = [
            "0.95"
        ].join(' ').trim()
        ext.args5 = [
            "--filter '( \$ani >= 0.95 ) && ( \$qcov >= 0.85 || \$rcov >= 0.85 )'"
        ].join(' ').trim()
    }

    // HCFILTER
    withName: 'UHVDB_TOOLKIT:TOOLKIT:HCFILTER:CSVTK_SEQKIT' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_virus_classification == \"uncertain\" )'",
            "| csvtk cut --tabs -f seq_name --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.uncertain" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:HCFILTER:CSVTK_SEQKIT_CONFIDENT' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_virus_classification == \"confident\" )'",
            "| csvtk cut --tabs -f seq_name --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.confident" }
    }

    // DEREPLICATE
    withName: 'UHVDB_TOOLKIT:TOOLKIT:DEREPLICATE:TRTRIMMER_SEQHASHER' {
        ext.args = [
            "--min-length 20",
            "--include-tr-info"
        ].join(' ').trim()
        ext.args2 = [
            "--multi-kmer-hashing",
            "--circular-kmers",
            "--print-sequence"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:DEREPLICATE:UHVDB_RENAME' {
        ext.prefix = { "${meta.id}.rename" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:DEREPLICATE:VCLUST_CSVTK' {
        ext.prefix = { "${meta.id}.new2new" }
        ext.args = [
            "--kmers-fraction 0.2",
            "--min-ident 0.995"
        ].join(' ').trim()
        ext.args2 = [
            "--out-ani 0.995",
            "--out-qcov 1.0"
        ].join(' ').trim()
        ext.args3 = [
            "--delete-header",
            "--fields query,reference,gani"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:DEREPLICATE:KMERDB_LZANI_CSVTK' {
        ext.prefix = { "${meta.id}.new2old" }
        ext.args = [
            "-k 25 -f 0.2"
        ].join(' ').trim()
        ext.args2 = [
            "-min num-kmers:20 -min ani-shorter:0.995"
        ].join(' ').trim()
        ext.args3 = [
            "-min 0.995"
        ].join(' ').trim()
        ext.args4 = [
            "0.995"
        ].join(' ').trim()
        ext.args5 = [
            "--tabs",
            "--delete-header",
            "--fields query,reference,gani"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:DEREPLICATE:UHVDB_ANIREPS' {
        ext.args = [
            "--cluster_level genomovars"
        ].join(' ').trim()
    }

    // ANICLUSTER
    withName: 'UHVDB_TOOLKIT:TOOLKIT:ANICLUSTER:KMERDB_LZANI_CSVTK' {
        ext.prefix = { "${meta.id}.new2old" }
        ext.args = [
            "-k 25 -f 0.2"
        ].join(' ').trim()
        ext.args2 = [
            "-min num-kmers:20 -min ani-shorter:0.95"
        ].join(' ').trim()
        ext.args3 = [
            "-min 0.95"
        ].join(' ').trim()
        ext.args4 = [
            "0.95"
        ].join(' ').trim()
        ext.args5 = [
            "--tabs",
            "--delete-header",
            "--fields query,reference,gani"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:ANICLUSTER:VCLUST_CSVTK' {
        ext.prefix = { "${meta.id}.new2new" }
        ext.args = [
            "--kmers-fraction 0.2",
            "--min-ident 0.95"
        ].join(' ').trim()
        ext.args2 = [
            "--out-ani 0.95",
            "--out-qcov 0.85"
        ].join(' ').trim()
        ext.args3 = [
            "--delete-header",
            "--fields query,reference,gani"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:ANICLUSTER:UHVDB_REPGRAPH' {
        ext.prefix = { "${meta.id}.newgraph" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:ANICLUSTER:UHVDB_ANIREPS' {
        ext.args = [
            "--cluster_level species"
        ].join(' ').trim()
    }

    // AAICLUSTER
    withName: 'UHVDB_TOOLKIT:TOOLKIT:AAICLUSTER:SEQKIT_SPLIT2' {
        ext.args = { "--by-size 10000" }
    }

    // TAXONOMY

    // CRISPRHOST

    // PHISTHOST

    // FUNCTION

    // LIFESTYLE

    // UPDATE

    // REFERENCEANALYZE
    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:CSVTK_SEQKIT' {
        ext.args = [
            "--tabs",
            "--filter '( \$uhvdb_id == \$species_rep )'",
            "| csvtk cut --tabs -f species_rep --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.species_reps" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:SYLPH_SKETCHGENOMES' {
        ext.args = [
            "-i"
        ].join(' ').trim()
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:SPRING_SYLPH' {
        ext.args = [
            "--min-number-kmers 3",
            "--estimate-unknown"
        ].join(' ').trim()
    }
    
    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:SYLPHTAX_TAXPROF' {
        ext.args = [
            "--taxonomy GTDB_r226 --annotate-virus-hosts"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
            mode: 'copy'
        ]
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:CSVTK_SEQKIT_SYLPH' {
        ext.args = [
            "--tabs",
            "--filter '( \$Genome_file == \"genomes/uhvdb.species_reps.fna.gz\" )'",
            "| csvtk cut --tabs -f Contig_name --out-delimiter '\t'"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}.contained_viruses" }
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:SPRING_COVERM' {
        ext.args = [
            "--mapper strobealign",
            "--methods trimmed_mean mean variance covered_bases length"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
            mode: 'copy'
        ]
    }

    withName: 'UHVDB_TOOLKIT:TOOLKIT:REFERENCEANALYZE:UHVDB_REFERENCEACTIVITY' {
        publishDir = [
            path: { "${params.outdir}/${task.process.replace(":", "/").toLowerCase()}" },
            mode: 'copy'
        ]
    }

    // ASSEMBLYANALYZE


    // MULTIQC
    withName: 'UHVDB_TOOLKIT:TOOLKIT:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



}
