/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/toolkit -profile test_analyze,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '12.h'
    ]
}

params {
    config_profile_name        = 'Test analyze profile'
    config_profile_description = 'Minimal test dataset to check database analyse functionality'

    // Input data
    input                      = "${projectDir}/assets/test_datasets/samplesheet/test_analyze.csv"
    dbdir                      = "test_databases"
    uhvdb_version              = 'test'
    bakta_db_version           = 'light'

    // Pipeline options
    run_analyze                = true
    include_coassembly         = true
}
