 params {
    config_profile_description = "Example config profile used for the University of Washington's Hyak HPC."
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://hyak.uw.edu/'
    hyak_partition  = 'stf'
    hyak_queue      = 'ckpt'
}

process {
    executor            = 'slurm'
    clusterOptions      = "-A ${params.hyak_partition} --requeue"
    containerOptions    = "-B /mmfs1/ -B /gscratch/"
    queue               = { ( task.time <= '5.h' as Duration ) ? "${params.hyak_queue}" : 'cpu-g2' }
    errorStrategy       = { (task.attempt < 2) ? 'retry' : 'ignore' }
    maxRetries          = 1
    maxErrors           = -1

    resourceLimits = [
        cpus: 16,
        memory: '100.GB',
        time: '24.h'
    ]

    withLabel: 'process_gpu' {
        clusterOptions  = { task.attempt == 1 ? "-A pedlabs --requeue --gpus=1" : "-A stf --requeue --gpus-per-node=a40:1" }
        queue           = 'ckpt'
        containerOptions= "--nv"
    }
}

executor {
    queueSize = 250
    submitRateLimit = '1 sec'
}

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = 60.m
    cacheDir   = "${params.dbdir}/.singularity-cache/"
}